In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('team_stats_2003_2023.csv')
df.head()

,year,team,wins,losses,win_loss_perc,points,points_opp,points_diff,mov,g,...,rush_td,rush_yds_per_att,rush_fd,penalties,penalties_yds,pen_fd,score_pct,turnover_pct,exp_pts_tot,ties
0,2003,New England Patriots,14,2,0.875,348,238,110,6.9,16,...,9,3.4,91,111,998,26,27.9,11.3,-136.51,NaN
1,2003,Miami Dolphins,10,6,0.625,311,261,50,3.1,16,...,14,3.7,99,103,913,22,28.1,17.2,-177.92,NaN
2,2003,Buffalo Bills,6,10,0.375,243,279,-36,-2.3,16,...,13,3.9,96,106,891,22,21.9,17.6,-230.07,NaN
3,2003,New York Jets,6,10,0.375,283,299,-16,-1.0,16,...,8,4.0,78,69,550,15,32.4,11.8,-107.89,NaN
4,2003,Baltimore Ravens,10,6,0.625,391,281,110,6.9,16,...,18,4.8,115,126,970,23,31.8,16.6,-220.50,NaN

In [5]:
df.columns

Index(['year', 'team', 'wins', 'losses', 'win_loss_perc', 'points',
       'points_opp', 'points_diff', 'mov', 'g', 'total_yards', 'plays_offense',
       'yds_per_play_offense', 'turnovers', 'fumbles_lost', 'first_down',
       'pass_cmp', 'pass_att', 'pass_yds', 'pass_td', 'pass_int',
       'pass_net_yds_per_att', 'pass_fd', 'rush_att', 'rush_yds', 'rush_td',
       'rush_yds_per_att', 'rush_fd', 'penalties', 'penalties_yds', 'pen_fd',
       'score_pct', 'turnover_pct', 'exp_pts_tot', 'ties'],
      dtype='object')

In [6]:
df.shape

(672, 35)

In [7]:
missing_rows = df[df.isna().any(axis=1)]

print("\nRows with missing values:")
print(missing_rows)

Rows with missing values:
     year                  team  wins  losses  win_loss_perc  points  \
0    2003  New England Patriots    14       2          0.875     348
1    2003        Miami Dolphins    10       6          0.625     311
2    2003         Buffalo Bills     6      10          0.375     243
3    2003         New York Jets     6      10          0.375     283
4    2003      Baltimore Ravens    10       6          0.625     391
..    ...                   ...   ...     ...            ...     ...
667  2023     Carolina Panthers     2      15          0.118     236
668  2023   San Francisco 49ers    12       5          0.706     491
669  2023      Los Angeles Rams    10       7          0.588     404
670  2023      Seattle Seahawks     9       8          0.529     364
671  2023     Arizona Cardinals     4      13          0.235     330

     points_opp  points_diff   mov   g  ...  rush_td  rush_yds_per_att  \
0           238          110   6.9  16  ...        9               3.4
1           261           50   3.1  16  ...       14               3.7
2           279          -36  -2.3  16  ...       13               3.9
3           299          -16  -1.0  16  ...        8               4.0
4           281          110   6.9  16  ...       18               4.8
..          ...          ...   ...  ..  ...      ...               ...
667         416         -180 -10.6  17  ...        7               4.0
668         298          193  11.4  17  ...       27               4.8
669         377           27   1.6  17  ...       18               4.3
670         402          -38  -2.2  17  ...       11               4.1
671         455         -125  -7.4  17  ...       17               5.0

     rush_fd  penalties  penalties_yds  pen_fd  score_pct  turnover_pct  \
0         91        111            998      26       27.9          11.3
1         99        103            913      22       28.1          17.2
2         96        106            891      22       21.9          17.6
3         78         69            550      15       32.4          11.8
4        115        126            970      23       31.8          16.6
..       ...        ...            ...     ...        ...           ...
667      111        103            845      36       25.0          11.1
668      147        101            933      29       45.3          10.1
669      110         89            720      35       41.1           9.2
670       93        111            954      35       38.8           8.4
671      127        101            859      30       35.0           9.4

     exp_pts_tot  ties
0        -136.51   NaN
1        -177.92   NaN
2        -230.07   NaN
3        -107.89   NaN
4        -220.50   NaN
..           ...   ...
667      -135.03   NaN
668       231.48   NaN
669       133.32   NaN
670        62.33   NaN
671        -2.99   NaN

[672 rows x 35 columns]